.app-bar{
  display: flex;
  background-color: #4098b5;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.user-details{
  padding: 0px 20px;
  display: flex;
  gap: 20px;
  font-size: 20px;
  align-items: center;
}
.logout{
  padding: 2px 10px;
  border-right: 4px;
  color: #4098b5;
}


.login-container{
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: fit-content;
  margin: 10px auto;
  align-items: center;
}

.login-btn{
  background-color: #4098b5;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
}
.logout-btn{
  background-color: white ;
  color: #4098b5; 
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
}

.home-info-container{
  background-color: white;
  padding: 32px;
}

.toggle-container{
  padding: 16px 16px;
  display: flex;
  justify-content: end;
  align-self: right;
}